.modal {
    width: 100dvw;
    min-height: 100dvh;

    background-color: $gray;
    opacity: 0;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;

    transition: opacity .5s ease;

    overflow-y: scroll;

    // Отображение при добавлении класса active
    &.active {
        opacity: 1;
        z-index: $z-index-modal;
    }

    &__content {
        max-width: calc(100dvw - $grid-gap * 2);

        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);

        transition: top .5s ease,
            transform .2s ease;

        @media screen and (max-height: $breakpoint-md) {
            top: $header-height !important;
            transform: translate(-50%, $grid-gap) !important;
        }
    }

    // Позиционрование контента при добавлении класса active
    &.active &__content {
        top: 50dvh;
        transform: translate(-50%, -50%);
    }
}