@font-face {
    font-family: pr-montserrat;
    font-weight: 300;
    src: url(./Montserrat-light.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: pr-montserrat;
    font-weight: 400;
    src: url(./Montserrat-Regular.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: pr-montserrat;
    font-weight: 800;
    src: url(./Montserrat-ExtraBold.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: pr-montserrat;
    font-weight: 900;
    src: url(./Montserrat-Black.ttf) format('truetype');
    font-display: swap;
}