// Animations 
@keyframes active-modal {
    0% {
        display: none;
    }

    1% {
        display: block;
        transform: translate(-50%, -50%) scale(0);
    }
    
    100% {
        display: block;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes not-active-modal {
    0% {
        display: block;
        transform: translate(-50%, -50%) scale(1);
    }

    99% {
        transform: translate(-50%, -50%) scale(0);
        display: block;
    }
    
    100% {
        display: none;
    }
}