.about {
    .container {
        position: relative;
    }

    .section-name {
        @include section-name-and-number($number: "1", $name: "О нас");
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, min(308px, 308 / 1290 * 100dvw));
        gap: $grid-gap;
        grid-template-areas: 'lay lay ic'
            'lay lay ic'
            'lay lay frm'
            'p1 p1 cicl'
            'cycl cycl cycl'
            'grad p2 p2';

        @media screen and (max-width: $breakpoint-md) {
            display: flex;
            flex-direction: column;

            .about__card {
                padding: $grid-gap;
                aspect-ratio: 397 / 367;

                img {
                    object-fit: cover;
                }

                &--layouts,
                &--cycle {
                    aspect-ratio: 397 / 750;
                }

                &--layouts>img {
                    height: 507 / 750 * 100%;
                }

                &--icons {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: $grid-gap;

                    img {
                        height: 150 / 367 * 100%;
                        margin: 0 0 0 auto;
                        transform: none;
                    }

                    h3 {
                        @include adaptive-font($pc-font-size: $font-size-xl, $mobile-font-size: 32px);
                    }

                    p {
                        @include adaptive-font($pc-font-size: $font-size-xl, $mobile-font-size: 16px);
                        width: 60%;
                    }
                }

                &--forms {
                    position: relative;

                    img {
                        height: 286 / 367 * 100%;
                    }

                    h3 {
                        @include adaptive-font($pc-font-size: $font-size-lg, $mobile-font-size: 32px);
                        line-height: 1rem;
                        position: absolute;
                        top: $grid-gap;
                        right: $grid-gap;
                        transform-origin: top right;
                        transform: rotate(90deg) translateX(100%);
                    }
                }

                &--picture1, &--picture2 {
                    padding: 0;
                }

                &--anim-circle {
                    display: none;
                }

                &--cycle {
                    $img-height: 82 / 397 * 100dvw;

                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: $grid-gap;

                    padding-top: calc($img-height / 82 * 397);

                    position: relative;

                    & > * {
                        order: 1;
                        flex: 0 0 auto;
                        width: auto;
                        margin: 0;
                        text-align: left;
                    }

                    img {
                        display: block;
                        height: $img-height;

                        object-fit: contain;

                        position: absolute;
                        transform-origin: top right;
                        top: $grid-gap;
                        right: $grid-gap;
                        transform: rotate(90deg) translateX(100%);
                    }

                    h2 {
                        @include adaptive-font($pc-font-size: $font-size-lg, $mobile-font-size: 32px);
                    }

                    p {
                        @include adaptive-font($pc-font-size: 64px, $mobile-font-size: 16px);
                    }
                }

                &--gradient {
                    @include adaptive-font($pc-font-size: $font-size-lg, $mobile-font-size: 32px);
                    font-weight: 700;
                    text-align: center;
                }
            }
        }
    }

    &__card {
        border-radius: $grid-gap;
        overflow: hidden;

        & > img,
        & > .main-figure {
            transition: scale .2s ease;

            &:hover {
                scale: 1.03;
            }
        }

        &--layouts {
            grid-area: lay;
            padding: 2.5% 2.2% 2.5% 3.8%;

            img {
                border-radius: 20px;
                box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
                margin-bottom: 36px;
            }

            h2 {
                @include adaptive-font($pc-font-size: $font-size-xl, $mobile-font-size: $font-size-xl-mobile);
                font-weight: 700;
                line-height: 100%;
                letter-spacing: 0%;
                margin-bottom: 15px;
            }

            p {
                @include adaptive-font($pc-font-size: $font-size-lg, $mobile-font-size: $font-size-lg-mobile);
                font-weight: 400;
                line-height: 100%;
                letter-spacing: 0%;
            }
        }

        &--icons {
            grid-area: ic;
            text-align: right;
            padding: 2.5% 2.2% 2.5% 3.8%;

            img {
                display: block;
                margin-bottom: 50px;
                border-radius: 20px;
                transform: translateX(18px);
                box-shadow: -20px 20px 20px 0px rgba(0, 0, 0, 0.07);
            }

            h3 {
                @include adaptive-font($pc-font-size: $font-size-lg, $mobile-font-size: $font-size-lg-mobile);
                font-weight: 700;
                line-height: 100%;
                letter-spacing: 0%;
                margin-bottom: 15px;
            }

            p {
                @include adaptive-font($pc-font-size: $font-size-base, $mobile-font-size: $font-size-base-mobile);
                font-weight: 400;
                line-height: 100%;
                letter-spacing: 0%;
            }
        }

        &--forms {
            grid-area: frm;

            display: flex;
            justify-content: space-between;

            padding: 10.1% 9% 10.36% 6.82%;


            img {
                max-height: 100%;

                border-radius: 10px;
                box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
            }

            h3 {
                @include adaptive-font($pc-font-size: $font-size-lg, $mobile-font-size: $font-size-lg-mobile);
                font-weight: 700;
                line-height: 100%;
                letter-spacing: 0%;
                transform: translateX(-50%) translateY(-20%) rotate(90deg);
            }
        }

        &--picture1 {
            grid-area: p1;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &--anim-circle {
            grid-area: cicl;

            position: relative;

            .main-figure {
                width: 216 / 416.67 * 100%;
                aspect-ratio: 1;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            img:first-of-type {
                width: 100%;
                height: 100%;
            }

            img:last-of-type {
                width: 100 / 216 * 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(60%, -50%);

                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
                background: $white;
                border-radius: 50%;

                transform-origin: -50% 50%;
                animation: rotate-circle 3s linear 0s infinite;
            }
        }

        &--cycle {
            grid-area: cycl;

            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 46px;

            padding: 2.02% 1.78% 2.4% 0.85%;

            img {
                width: 938 / 1290 * 100%;
                flex: 0 0 auto;
                border-radius: 20px;
                box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
                background: rgba(245, 245, 247, 1);
            }

            h2 {
                @include adaptive-font($pc-font-size: $font-size-lg, $mobile-font-size: $font-size-lg-mobile);
                font-weight: 700;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: right;
                order: 3;
                flex-grow: 1;
            }

            p {
                order: 2;
                width: 12.5%;
                @include adaptive-font($pc-font-size: $font-size-base, $mobile-font-size: $font-size-base-mobile);
                font-weight: 400;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: right;

                @media screen and (max-width: $breakpoint-lg) {
                    flex-grow: 1;
                }
            }
        }

        &--gradient {
            grid-area: grad;
        }

        &--picture2 {
            grid-area: p2;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &--layouts,
        &--icons,
        &--forms,
        &--cycle {
            background-color: $gray;
        }

        &--gradient {
            display: flex;
            justify-content: center;
            align-items: center;

            background: linear-gradient(-43.06deg, rgba(255, 5, 95, 1), rgba(10.625004768371582, 181.6874542236328, 255, 1) 100%), radial-gradient(72.25% 85.76% at 28.999999999999996% 97%, rgba(255, 84.2350082397461, 46.75, 1), rgba(255, 84.23497009277344, 46.75, 0) 100%);
            color: $text-second-color;
            font-weight: 700;
        }
    }
}