// Header
.header {

    // Активация окна с формой
    &:has(.header__req-button>input:checked) {

        .modal {
            opacity: 1;
            z-index: $z-index-modal;
        }

        .modal__content {
            top: 50dvh;
            transform: translate(-50%, -50%);
        }
    }

    &__content {
        // Содержимое header
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: $grid-gap;

        width: min(1700px, 90dvw);
        height: $header-height;

        margin-inline: auto;
        padding: $grid-gap;

        background-color: $white;

        // Позиционирование контента
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: $z-index-header;

        // Полоска снизу
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;

            width: 100%;
            height: 2px;

            background-image: linear-gradient(179.35deg, rgba(10.625004768371582, 181.6874542236328, 255, 1), rgba(255, 4.249996185302734, 94.52003479003906, 1) 100%);
        }
    }

    &__logo {
        height: 60%;
    }

    &__logo-src {
        height: 100%;
    }

    &__req-button {
        display: flex;
        align-items: center;
        column-gap: $grid-gap / 2;

        padding: $grid-gap / 2;

        border: 1px solid $red;
        border-radius: 5px;

        transition: scale .2s ease;
        user-select: none;

        &::before {
            content: "";
            width: 21px;
            height: 23px;
            background: url("../img/icons/form-btn--open.svg") center / cover no-repeat;
            flex-shrink: 0;
        }

        &:hover {
            scale: 1.05;
        }

        label {
            color: $red;
        }

        input {
            display: none;
        }
    }
}