// Header 
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: min(1700px, 90dvw);
    height: 100px;

    margin-inline: auto;
    padding: $grid-gap;

    background-color: $white;

    position: relative;

    &__logo{
        height: 60%;
    }

    &__logo-src {
        height: 100%;
    }

    &__req-button {
        display: flex;
        align-items: center;
        column-gap: $grid-gap / 2;

        padding: $grid-gap / 2;
        
        border: 1px solid $red;
        border-radius: 5px;

        transition: scale .2s ease;

        &::before {
            content: "";
            width: 21px;
            height: 23px;
            background: url("../img/icons/form-btn--open.svg") center / cover no-repeat;
        }

        &:hover {
            scale: 1.05;
        }

        label {
            color: $red;
        }

        input {
            display: none;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;

        width: 100%;
        height: 2px;

        background-image: linear-gradient(179.35deg, rgba(10.625004768371582, 181.6874542236328, 255, 1),rgba(255, 4.249996185302734, 94.52003479003906, 1) 100%);
    }
}