.hero {
    @include section-position;
    height: 100dvh;

    $background-width-main: 1920 - 900;
    $background-height-main: 1080 - 95;

    $general-image-width: 772;
    $general-image-height: 669;

    $panel-height: 332;

    $blob-height-main: 750;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: $grid-gap;

        width: calc(100% - #{$background-width-main}px);
        min-width: 475px;
        padding-block: $header-height + $grid-gap;
        padding-left: 150 / 1920 * 100dvw;

        &>.to-down-btn {
            flex: 0 0 auto;
        }

        @media screen and (max-width: 475px) {
            width: 100%;
            min-width: auto;
            padding-right: 150 / 1920 * 100dvw;
        }
    }

    &__title {
        @include adaptive-font($font-size-xl, $font-size-xl-mobile);
        font-weight: 700;
        line-height: 1;

        &::first-letter {
            @include adaptive-font($font-size-2xl, $font-size-2xl-mobile);
        }
    }

    &__background-main {
        height: ($background-height-main) / 1080 * 100%;
        aspect-ratio: 1023 / 806;

        position: absolute;
        top: 0;
        right: 0;
    }

    &__blob {
        height: $blob-height-main / $background-height-main * 100%;

        position: absolute;
        top: 0;
        right: 0;
    }

    &__general-image {
        height: $general-image-height / $background-height-main * 100%;
        aspect-ratio: $general-image-width / $general-image-height;

        padding-left: $grid-gap;

        border: 4px solid rgba(255, 255, 255, 1);
        border-radius: 20px;
        box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(30px);
        background: rgba(255, 255, 255, 0.8);

        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    &__panel {
        height: $panel-height / $general-image-height * 100%;

        position: absolute;
        top: $grid-gap;
        left: 0;
        transform: translateX(-75%);
        z-index: 2;
    }

    &__background-mobile {
        display: none;

        width: 100%;
        height: 100%;

        &>img {
            width: 100%;
            height: 100%;

            object-fit: contain;
            object-position: top right;
        }
    }

    @media screen and ((max-width: $breakpoint-md) or (orientation: portrait)) {
        &__background-main {
            display: none;
        }

        &__background-mobile {
            display: block;
        }
    }
}