@import '../fonts/Montserrat/stylesheet.css';
@import '../fonts/ProtoSans/stylesheet.css';
.container {
  width: 100%;
  height: 100%;
}

/* Reset and base styles  */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: pr-montserrat, sans-serif;
  line-height: 1.5;
  color: #343434;
  background-color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  font-family: pr-montserrat, sans-serif;
}

.header:has(.header__req-button > input:checked) .modal {
  opacity: 1;
  z-index: 1000;
}
.header:has(.header__req-button > input:checked) .modal__content {
  top: 50dvh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  width: min(1700px, 90dvw);
  height: 100px;
  margin-inline: auto;
  padding: 20px;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2000;
}
.header__content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(179.35deg, rgb(10.6250047684, 181.6874542236, 255), rgb(255, 4.2499961853, 94.52003479) 100%);
}
.header__logo {
  height: 60%;
}
.header__logo-src {
  height: 100%;
}
.header__req-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding: 10px;
  border: 1px solid #FF055F;
  border-radius: 5px;
  -webkit-transition: scale 0.2s ease;
  transition: scale 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header__req-button::before {
  content: "";
  width: 21px;
  height: 23px;
  background: url("../img/icons/form-btn--open.svg") center/cover no-repeat;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header__req-button:hover {
  scale: 1.05;
}
.header__req-button label {
  color: #FF055F;
}
.header__req-button input {
  display: none;
}

.container {
  max-width: 1330px;
  margin-inline: auto;
  padding: 0 20px;
}

.modal {
  width: 100dvw;
  min-height: 100dvh;
  background-color: #EAEAEA;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  overflow-y: scroll;
}
.modal.active {
  opacity: 1;
  z-index: 1000;
}
.modal__content {
  max-width: calc(100dvw - 40px);
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  -webkit-transition: top 0.5s ease, -webkit-transform 0.2s ease;
  transition: top 0.5s ease, -webkit-transform 0.2s ease;
  transition: top 0.5s ease, transform 0.2s ease;
  transition: top 0.5s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
}
@media screen and (max-height: 768px) {
  .modal__content {
    top: 100px !important;
    -webkit-transform: translate(-50%, 20px) !important;
            transform: translate(-50%, 20px) !important;
  }
}
.modal.active .modal__content {
  top: 50dvh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.request {
  width: min(754px, 100%);
  padding: min(60px, 8%);
  background-color: #FFFFFF;
  border-radius: 20px;
}
.request__title {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: min(60px, 5dvh);
}
.request__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.request__form input {
  width: 100%;
  height: 55px;
  padding: 20px;
  margin-bottom: min(60px, 5dvh);
  background-color: #EAEAEA;
  border-radius: 20px;
  border: none;
}
.request__form input::-webkit-input-placeholder {
  color: #FFFFFF;
}
.request__form input::-moz-placeholder {
  color: #FFFFFF;
}
.request__form input:-ms-input-placeholder {
  color: #FFFFFF;
}
.request__form input::-ms-input-placeholder {
  color: #FFFFFF;
}
.request__form input::placeholder {
  color: #FFFFFF;
}
.request__submit {
  width: min(300px, 100%);
  height: 73px;
  background-color: #0BB6FF;
  color: #FFFFFF;
  border-radius: 20px;
  border: none;
}