@import '../fonts/Montserrat/stylesheet.css';
@import '../fonts/ProtoSans/stylesheet.css';
.container {
  width: 100%;
  height: 100%;
}

/* Reset and base styles  */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: pr-montserrat, sans-serif;
  line-height: 1.5;
  color: #343434;
  background-color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  font-family: pr-montserrat, sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: min(1700px, 90dvw);
  height: 100px;
  margin-inline: auto;
  padding: 20px;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2000;
}
.header__logo {
  height: 60%;
}
.header__logo-src {
  height: 100%;
}
.header__req-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding: 10px;
  border: 1px solid #FF055F;
  border-radius: 5px;
  -webkit-transition: scale 0.2s ease;
  transition: scale 0.2s ease;
}
.header__req-button::before {
  content: "";
  width: 21px;
  height: 23px;
  background: url("../img/icons/form-btn--open.svg") center/cover no-repeat;
}
.header__req-button:hover {
  scale: 1.05;
}
.header__req-button label {
  color: #FF055F;
}
.header__req-button input {
  display: none;
}
.header::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(179.35deg, rgb(10.6250047684, 181.6874542236, 255), rgb(255, 4.2499961853, 94.52003479) 100%);
}

.container {
  max-width: 1330px;
  margin-inline: auto;
  padding: 0 20px;
}